body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 20px;
    padding: 20px;
}

h1 {
    color: #333;
}

.question {
    font-weight: bold;
    color: #0066cc;
}

.answer {
    margin-left: 20px;
}

.menu_opt a {
    text-decoration: none;
    color: #428bca;
}

.menu_opt a:hover {
    color: #2a6496;
}

.content {
    max-width: 80ch;
    padding: 0 10px;
}

.breadcrumb {
    background: #dcdcdc;
    padding: 8px 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-weight: bold;
}

.breadcrumb a {
    text-decoration: none;
    color: #428bca;
}

.breadcrumb a:hover {
    color: #2a6496;
}

.breadcrumb span {
    color: #999;
}

.banner {
    background-color: #ff6161; /* Light red background */
    color: #111; /* Dark text color */
    padding: 2px 0; /* Add padding */
    text-align: center; /* Center align text */
    position: sticky; /* Stick to the top */
    top: 0; /* Stick to the top */
    width: 100%; /* Full width */
    z-index: 1000; /* Ensure it's on top of other elements */
    font-family: Arial, sans-serif; /* Use a common sans-serif font */
    font-size: 28px; /* Font size */
    margin-bottom: 10px;
}

.banner a {
    color: #333; /* Dark text color for links */
    text-decoration: underline; /* Underline links */
}

.banner a:hover {
    color: #666; /* Darker color on hover */
}
