@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
    background-color: #fafafa;
}

body {
    font-family: Open Sans, Arial, sans-serif;
    color: #555;
    font-size: 16px;
    margin:1em auto;
    padding: 1em 2em;
    line-height: 1.4;
    text-align: justify;
}

#segment1{
    padding-top: 10px;
    width: 220px;
    text-align: center;
    margin: 0 auto;
    border: solid black 1px;
    box-sizing: border-box;
    background-color: rgba(22, 160, 133, 0.09);
}

#segment1 #me {
    margin: auto;
    overflow: hidden;
    width: 200px;
    height: 180px;
    margin-bottom: 20px;
}

#segment1 #name {
    display: block;
    line-height: 1.2;
    margin: .2em auto;
    font-size: 2em;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
    padding: 0 10px;
}

#segment1 img {
    margin: -50px -20px;

}

#segment2 {
    margin: 0 auto;
    letter-spacing: 2px;
    min-width: 450px;
    width: calc(100% - 4em - 200px);
}

.proj {
    padding: 10px;
    margin: 10px 0;
    background-color: rgba(22, 160, 133, 0.24);
}

.projname {
    font-weight: 600;
    min-width: 100px;
    font-size: 1.4em;
    float: left;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0.2em;
}

.projtype {
    padding: 0.2em;
    min-width: 100px;
    font-size: 1.4em;
    background-color: rgba(255, 255, 255, 0.5);
    float: right;
}

.projdesc {
    margin-top: 1em;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.3);
}

@media screen and (max-width: 530px) {
    #segment1 {
        float: left;
        display: block;
        margin: 0 115px;
    }
}

@media screen and (min-width: 750px) {
    #segment1 {
        float: left;
        display: block;
        margin: 0 auto;
    }

    #segment2 {
        float: right;
        display: block;
    }
}

footer {
    min-width: 450px;
    font-size: 1em;
    position: fixed;
    text-align: center;
    bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: .5em 0;
    width: calc(100% - 4em);
    background-color: #f3f3f3;
    letter-spacing: 2px;
}

#footh {
    height: 3em;
}

a {
    color: #555;
}

a:hover {
    text-decoration: none;
    color: #2b2094;
}

.clear {
    clear: both;
}

h1 {
    text-align: center;
    font-size: 2.2em;
}