body {
    background-color: linen;
    background-image: url("http://mkondratek.github.io/images/cubes/cubes/cubes_@2X.png");
    /*background-image: url("http://mkondratek.github.io/images/cubes/cubes/cubes.png");*/
}

h1 {
    color: maroon;
    margin-left: 40px;
}

h2 {
    margin-left: 40px;
}